export DATA_DIR=/path/to/data
export EXP_DIR=/path/to/experiment/directory
export TRAINING=True
export ALL_DATA=$DATA_DIR/raw.txt.processed
export TRAIN_DATA=$DATA_DIR/raw.txt.processed.train
export TEST_DATA=$DATA_DIR/raw.txt.processed.test.groundtruth
export TO_INFER_DATA=$DATA_DIR/raw.txt.processed.test.infer
export INFER_DEST=$EXP_DIR/raw.txt.processed.test.inferred
export ENCODER_PATH_PREFIX=$EXP_DIR/encoder
export CHECKPOINTS_PATH=$EXP_DIR/checkpoints/cp-{epoch:04d}.ckpt
export BATCH_SIZE=64
export BUFFER_SIZE=10000
export SAVED_MODEL_PATH=$EXP_DIR/model.h5
export EMBEDDING_DIM=64
export N_UNITS=64
export INIT_LEARNING_RATE=0.0001
export CUDA_VISIBLE_DEVICES=0
